@{
   //cerca dentro Views>Shared>_Layout
   Layout = "_Layout";
}
<h1>index courses</h1>
<h3>lista corsi con ciclco for brutto</h3>
<ul>
   @for (int i = 0; i < 4; i++)
   {
      <li>corso @i</li>
   }
</ul>