
@model List<CourseViewModel>

<section class="container">
   <h1 class="mb-4">Ecco i nostri corsi</h1>
   <div class="container-fluid">
      <div class="row g-3">
         @foreach(var course in Model)
         {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
         
            <div class="card h-100">
               <img class="card-img-top" src="https://via.placeholder.com/300x300?text=Placeholder+Image" alt="Card image cap">
                  <div class="card-header">
                     <h3 class="card-title">@course.title</h3>
                  </div>
               <div class="card-body">
                  <div class="h4 d-flex justify-content-between">
                     <span class="font-italic">@course.author</span>
                     <small class="text-secondary">€@course.price </small>
                  </div>
                  <p class="card-text">@course.description</p>
                  <p class="fs-5 text-secondary">valutazione: @course.rating</p>
                  <a href="#" class="btn btn-outline-primary">Dettaglio corso</a>
               </div>
            </div>
         </div>
         }
      </div>
   </div>
</section>
